<!-- The Modal -->
<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-container">
        <header class="modal-header">
            <h2></h2>
            <span class="close">&times;</span>
        </header>
        <div class="modal-content">

        </div>
        <footer class="modal-footer">
            <a href="#" class="btn-close" type="button"
               onclick="document.querySelector('.modal').style.display = 'none'">Close</a>
        </footer>
    </div>
</div>