<!doctype html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>API Wars || {{ title }}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Contrail+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
<div class="wrapper">
    <div class="content-section">
        <form action="" method="post">
<!--            protection about hidden attack-->
            {{ form.hidden_tag() }}
            <div class="">
                <legend class=""><i class="fas fa-user-plus"></i> Join Today</legend>
                <div class="form-group">
                    {{ form.username.label(class='') }}
                    {% if form.username.errors %}
                        {{ form.username(class='') }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class='') }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.email.label(class='') }}
                    {% if form.email.errors %}
                        {{ form.email(class='') }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class='') }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password.label(class='') }}
                    {% if form.password.errors %}
                        {{ form.password(class='') }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class='') }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.confirm_password.label(class='') }}
                    {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class='') }}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirm_password(class='') }}
                    {% endif %}
                </div>
            </div>
            <div class="submit-group">
                {{ form.submit(class='register-btn') }}
            </div>
        </form>
    </div>
    <div class="account">
        <small>
            Already Have An Account? <a href="{{ url_for('login') }}">Sign In</a>
        </small>
    </div>
</div>
</body>
</html>